* {
	margin: 0;
	padding: 0;
}

nav	{
	background-color: #A6D2DB;
}

.nav, .header, .offerings, .recent, .template, .contact, .footer {
	font-family: 'Slabo 27px', serif;
	width: 70%;
	margin: 0 auto;
}

.recent h1, .team h1, .posts h1, .contact h1 {
	font-family: 'Slabo 27px', serif;
	font-size: 50px;
	color: #fff;
	padding: 10px;
}

.recent	p, .team p, .posts p, .contact p {
	color: #fff;
	font-size: 12px;
	font-family: 'Open Sans', sans-serif;
	width: 50%;
	margin: 0 auto;
	margin-bottom: 40px;
}

.nav  {
	padding: 3%;
}

.nav > a {
	text-decoration: none;
	font-size: 28px;
	color: #39464B; 
}

.nav > i {
	color: #39464B;
}

.nav ul {
	float: right;
}

.nav li {
	display: inline-block;
	margin-left: 50px;
}

.nav li.active {
	background-color: #39464B;
	padding: 10px;
	border-radius: 4px;

}

.nav li a {
	text-decoration: none;
	color: #39464B;
	font-family: 'Open Sans', sans-serif;
}

.nav li a span {
		color: #A6D2DB;
}

header {
	background-color: #A6D2DB;
	padding: 50px 0;
}

.header {
	width: 70%;
	margin: 0 auto;
	text-align: center;
}

.header #text {
	width: 100%
}

.header h1 {
	display: inline-block;
	width: 45%;
	color: #fff;
	font-size: 55px;
	margin: auto;
	position: relative;
	bottom: 70px;
}

.header #header_img {
	display: inline-block;
	width: 45%
}

.header img {
	width: 300px;
}

.header .carousel {
	margin: 30px 0;
	width: 100px;
}

.offerings {
	text-align: center;
	padding: 20px 0;
	height: 350px;
}

.offerings .images div {
	display: inline-block;
	width: 26%;
	padding: 20px;
}

.offerings img {
	width: 130px;
}

.offerings h3 {
	padding: 10px;
}

.offerings p {
	font-size: 12px;
	font-family: 'Open Sans', sans-serif;
}

#recent {
	background-color: #98D2A5;
}

.recent {
	text-align: center;
	padding: 4%;
}

.recent li {
	display: inline-block;
	margin: 20px;
}

.recent li.active {
	background-color: #fff;
	padding: 10px;
	border-radius: 4px;
}

.recent li.hover {
	border: 1px solid #fff;
	border-radius: 4px;
	padding: 10px;
}


.recent li a {
	text-decoration: none;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
}

.recent li a span {
	color: #98D2A5;
}

.gallery {
	margin-top: 10px;
}

.gallery .image {
	display: inline-block;
	padding: 20px;	
}

.gallery img {
	width: 250px;
}

.recent button {
	text-align: center;
	padding: 20px;
	background-color: #fff;
	color: #39464B;
	border: none;
	border-radius: 4px;
	margin: 40px 0;
}

#template {
	background-color: #F1F1F1;
}

.template {
	padding: 60px 0;
}

.asset {
	display: inline-block;
}

.template img {
	width: 250px;
}

.snippet {
	width: 60%;
	display: inline-block;
	padding-left: 70px;
    position: relative;
    bottom: 60px;
    /*better way to do this?*/
}

.template button {
	background-color: #98D2A5;
	padding: 20px;
	border-radius: 4px;
	border: none;
	color: #fff;
	margin-top: 20px;
}

.template h4 {
	font-size: 18px;
	color: #39464B;
	font-family: 'Open Sans', sans-serif;
}

.snippet_alt {
	width: 60%;
	display: inline-block;
	padding-right: 70px;
    position: relative;
    bottom: 60px;
    /*better way to do this?*/
}

.template button.alt {
	background-color: #A6D2DB;
	padding: 20px;
	border-radius: 4px;
	border: none;
	color: #fff;
	margin-top: 20px;
}

hr {
	width: 70%;
	margin: 0 auto;
	border: solid 1px #C6C6C6;
}

#team {
	background-color: #DFB6C6;
}

.team {
	padding: 4%;
	text-align: center;
	width: 70%;
	margin: 0 auto;
}

.team .member {
	height: 375px;
	width: 250px;
	background-color: #fff;
	width: 27%;
	display: inline-block;
	margin: 0 20px;
}

.team h2 {
	padding: 10px;
}

.team h4 {
	padding-bottom: 10px;
}

.member p {
	color: #39464B;
	font-size: 12px;
	font-family: 'Open Sans', sans-serif;
	margin: 0 auto;
	width: 80%;
}

.social {
	display: inline-block;
	margin-top: 20px;
	width: 100%;
}

span.facebook {
	background-color: #4253A5;
	padding: 10px 13px;
	border-radius: 50%;
	color: #fff;
}

span.twitter {
	background-color: #3DAEEA;
	padding: 10px;
	border-radius: 50%;
	color: #fff;
}

span.pinterest {
	background-color: #C83857;
	padding: 10px 11px;
	border-radius: 50%;
	color: #fff;
}

#posts {
	background-color: #A6D2DB;
}

.posts {
	padding: 4%;
	text-align: center;
	width: 70%;
	margin: 0 auto;
}

.posts .post {
	height: 275px;
	width: 275px;
	background-color: #fff;
	width: 30%;
	display: inline-block;
	margin: 0 10px;
}

.posts button {
	text-align: center;
	padding: 20px;
	background-color: #fff;
	color: #A6D2DB;
	border: none;
	border-radius: 4px;
	margin: 40px 0;
}

.post h2 {
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	padding-bottom: 5px;
}

.post h4 {
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
}

.post p {
	color: #39464B;
	font-size: 8px;
	font-family: 'Open Sans', sans-serif;
	margin-top: 10px;
	width: 80%;
}

#contact {
	background-color: #3C3C3C;
}

.contact {
	text-align: center;
	padding-top: 4%;
}

form {
}

input, textarea {
	border: none;
	border-radius: 4px;
	padding: 10px;
	width: 50%;
	margin: 10px;
}

[placeholder] {
	padding-left: 10px;
}

.contact button{
	text-align: center;
	padding: 20px;
	background-color: #fff;
	color: #3C3C3C;
	border: none;
	border-radius: 4px;
	margin: 40px 0;
}

footer {
	background-color: #3C3C3C;
}

.footer {
	border-top: 1px solid black;
	padding: 30px 0;
}

footer i {
	color: #fff;
	padding: 10px;
	border-radius: 50%;
	background-color: #515151;
}

.social {
	width: 50%;
}

.copyright {
	float: right;
	padding-top: 20px;
	color: #F1F1F1;
}

.copyright a {
	color: #6D6649;
}

























